In [118]:
import pandas as pd

In [119]:
df=pd.read_csv('/content/sample_data/train_IxoE5JN.csv')

In [120]:
df.isnull().sum()

row_id         0
datetime       0
energy      1900
dtype: int64

In [121]:
df1=df.ffill().bfill()

In [122]:
df1.drop('row_id',axis=1,inplace=True)

In [123]:
df1

                  datetime       energy
0      2008-03-01 00:00:00  1259.985563
1      2008-03-01 01:00:00  1095.541500
2      2008-03-01 02:00:00  1056.247500
3      2008-03-01 03:00:00  1034.742000
4      2008-03-01 04:00:00  1026.334500
...                    ...          ...
94987  2018-12-31 19:00:00  2528.446800
94988  2018-12-31 20:00:00  2461.883600
94989  2018-12-31 21:00:00  2365.994400
94990  2018-12-31 22:00:00  2342.942800
94991  2018-12-31 23:00:00  2180.217600

[94992 rows x 2 columns]

In [124]:
df1['Date']=df1['datetime'].str.split('-').str[2]
df1['Month']=df1['datetime'].str.split('-').str[1]
df1['Year']=df1['datetime'].str.split('-').str[0]

In [125]:
df1

                  datetime       energy         Date Month  Year
0      2008-03-01 00:00:00  1259.985563  01 00:00:00    03  2008
1      2008-03-01 01:00:00  1095.541500  01 01:00:00    03  2008
2      2008-03-01 02:00:00  1056.247500  01 02:00:00    03  2008
3      2008-03-01 03:00:00  1034.742000  01 03:00:00    03  2008
4      2008-03-01 04:00:00  1026.334500  01 04:00:00    03  2008
...                    ...          ...          ...   ...   ...
94987  2018-12-31 19:00:00  2528.446800  31 19:00:00    12  2018
94988  2018-12-31 20:00:00  2461.883600  31 20:00:00    12  2018
94989  2018-12-31 21:00:00  2365.994400  31 21:00:00    12  2018
94990  2018-12-31 22:00:00  2342.942800  31 22:00:00    12  2018
94991  2018-12-31 23:00:00  2180.217600  31 23:00:00    12  2018

[94992 rows x 5 columns]

In [126]:
df1['date']=df1['Date'].str.split(' ').str[0]

In [127]:
df1

                  datetime       energy         Date Month  Year date
0      2008-03-01 00:00:00  1259.985563  01 00:00:00    03  2008   01
1      2008-03-01 01:00:00  1095.541500  01 01:00:00    03  2008   01
2      2008-03-01 02:00:00  1056.247500  01 02:00:00    03  2008   01
3      2008-03-01 03:00:00  1034.742000  01 03:00:00    03  2008   01
4      2008-03-01 04:00:00  1026.334500  01 04:00:00    03  2008   01
...                    ...          ...          ...   ...   ...  ...
94987  2018-12-31 19:00:00  2528.446800  31 19:00:00    12  2018   31
94988  2018-12-31 20:00:00  2461.883600  31 20:00:00    12  2018   31
94989  2018-12-31 21:00:00  2365.994400  31 21:00:00    12  2018   31
94990  2018-12-31 22:00:00  2342.942800  31 22:00:00    12  2018   31
94991  2018-12-31 23:00:00  2180.217600  31 23:00:00    12  2018   31

[94992 rows x 6 columns]

In [128]:
df1['Date']=df1['Date'].str.split(' ').str[1]

In [129]:
df1

                  datetime       energy      Date Month  Year date
0      2008-03-01 00:00:00  1259.985563  00:00:00    03  2008   01
1      2008-03-01 01:00:00  1095.541500  01:00:00    03  2008   01
2      2008-03-01 02:00:00  1056.247500  02:00:00    03  2008   01
3      2008-03-01 03:00:00  1034.742000  03:00:00    03  2008   01
4      2008-03-01 04:00:00  1026.334500  04:00:00    03  2008   01
...                    ...          ...       ...   ...   ...  ...
94987  2018-12-31 19:00:00  2528.446800  19:00:00    12  2018   31
94988  2018-12-31 20:00:00  2461.883600  20:00:00    12  2018   31
94989  2018-12-31 21:00:00  2365.994400  21:00:00    12  2018   31
94990  2018-12-31 22:00:00  2342.942800  22:00:00    12  2018   31
94991  2018-12-31 23:00:00  2180.217600  23:00:00    12  2018   31

[94992 rows x 6 columns]

In [130]:
df1['time']=df1['Date'].str.split(':').str[0]

In [131]:
df1

                  datetime       energy      Date Month  Year date time
0      2008-03-01 00:00:00  1259.985563  00:00:00    03  2008   01   00
1      2008-03-01 01:00:00  1095.541500  01:00:00    03  2008   01   01
2      2008-03-01 02:00:00  1056.247500  02:00:00    03  2008   01   02
3      2008-03-01 03:00:00  1034.742000  03:00:00    03  2008   01   03
4      2008-03-01 04:00:00  1026.334500  04:00:00    03  2008   01   04
...                    ...          ...       ...   ...   ...  ...  ...
94987  2018-12-31 19:00:00  2528.446800  19:00:00    12  2018   31   19
94988  2018-12-31 20:00:00  2461.883600  20:00:00    12  2018   31   20
94989  2018-12-31 21:00:00  2365.994400  21:00:00    12  2018   31   21
94990  2018-12-31 22:00:00  2342.942800  22:00:00    12  2018   31   22
94991  2018-12-31 23:00:00  2180.217600  23:00:00    12  2018   31   23

[94992 rows x 7 columns]

In [132]:
df1['date']=df1['date'].astype(int)
df1['Month']=df1['Month'].astype(int)
df1['Year']=df1['Year'].astype(int)
df1['time']=df1['time'].astype(int)

In [133]:
df1

                  datetime       energy      Date  Month  Year  date  time
0      2008-03-01 00:00:00  1259.985563  00:00:00      3  2008     1     0
1      2008-03-01 01:00:00  1095.541500  01:00:00      3  2008     1     1
2      2008-03-01 02:00:00  1056.247500  02:00:00      3  2008     1     2
3      2008-03-01 03:00:00  1034.742000  03:00:00      3  2008     1     3
4      2008-03-01 04:00:00  1026.334500  04:00:00      3  2008     1     4
...                    ...          ...       ...    ...   ...   ...   ...
94987  2018-12-31 19:00:00  2528.446800  19:00:00     12  2018    31    19
94988  2018-12-31 20:00:00  2461.883600  20:00:00     12  2018    31    20
94989  2018-12-31 21:00:00  2365.994400  21:00:00     12  2018    31    21
94990  2018-12-31 22:00:00  2342.942800  22:00:00     12  2018    31    22
94991  2018-12-31 23:00:00  2180.217600  23:00:00     12  2018    31    23

[94992 rows x 7 columns]

In [133]:
one_hot = pd.get_dummies(df1['Month'], prefix='Month')
df1 = df1.join(one_hot)

In [133]:
df1.replace({2008: 0,2009:1 ,2010:2,2011:3 ,2012:4,2013:5,2014:6,2015:7,2016:8,2017:9,2018:10}, inplace = True) # label encoding

In [134]:
df1.drop(columns = ["datetime","Date"],inplace=True,axis=1)

In [140]:
df1.drop(columns = ["Month"],inplace=True,axis=1)

In [92]:
df1.columns

Index(['energy', 'date', 'time', 'Month_1', 'Month_2', 'Month_3', 'Month_4',
       'Month_5', 'Month_6', 'Month_7', 'Month_8', 'Month_9', 'Month_10',
       'Month_11', 'Month_12'],
      dtype='object')

In [141]:
X=df1.drop(labels=['energy'],axis=1)  #Target and feature split
y=df1['energy']

In [42]:
from sklearn.model_selection import train_test_split, GridSearchCV

#Module related to calculation of metrics
from sklearn import metrics

from sklearn.preprocessing import StandardScaler, OneHotEncoder

import statsmodels.formula.api as smf

from sklearn.metrics import accuracy_score, confusion_matrix,classification_report

from sklearn.neighbors import KNeighborsClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.svm import LinearSVC, LinearSVR, SVC, SVR
from sklearn.naive_bayes import BernoulliNB, MultinomialNB, GaussianNB
from sklearn.ensemble import GradientBoostingRegressor
import warnings
warnings.filterwarnings("ignore")

In [43]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.compose import ColumnTransformer
from sklearn.pipeline import Pipeline, make_pipeline
from sklearn.neighbors import KNeighborsRegressor
from sklearn.preprocessing import OneHotEncoder,PowerTransformer, StandardScaler, MinMaxScaler
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor,AdaBoostRegressor
from sklearn.svm import SVR
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression, Ridge,Lasso
from sklearn.metrics import r2_score, mean_absolute_error,mean_squared_error
from sklearn.model_selection import train_test_split,RandomizedSearchCV, GridSearchCV
import pickle
from numpy import absolute
from pandas import read_csv
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import RepeatedKFold
from xgboost import XGBRegressor
from sklearn.svm import SVR
from math import sqrt

In [142]:
X_train, X_test, y_train, y_test = train_test_split(X, y, train_size=0.8, random_state=256)

In [ ]:
#RANDOM FOREST
pipe = Pipeline([
                ('model',
                 RandomForestRegressor(max_depth=40, max_features=3,
                                       min_samples_leaf=3, min_samples_split=8,
                                       n_estimators=200))])
pipe.fit(X_train, y_train)
y_pred = pipe.predict(X_test)
print('R2 SCORE', r2_score(y_test,y_pred))
print('RMSE', sqrt(mean_squared_error(y_test,y_pred)))

R2 SCORE 0.9456520032100038
RMSE 86.4958768531379

In [ ]:
#SAVING MODEL
import pickle
pickle.dump(pipe, open('model.pkl', 'wb'))
pickled_model = pickle.load(open('model.pkl', 'rb'))

In [ ]:
#XGBOOST
pipe = Pipeline([
        ('model',XGBRegressor(colsample_bytree=1.0, gamma=0.5, max_depth=5, subsample=0.8))])
pipe.fit(X_train, y_train)
y_pred = pipe.predict(X_test)
print('R2 SCORE', r2_score(y_test,y_pred))
print('RMSE', sqrt(mean_squared_error(y_test,y_pred)))

[05:34:52] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.
R2 SCORE 0.8299857543815523
RMSE 153.14298998397342

In [ ]:
#MODEL SAVING
import pickle
pickle.dump(pipe, open('modelXG.pkl', 'wb'))
pickled_model = pickle.load(open('modelXG.pkl', 'rb'))

In [ ]:
#CATBOOST
import CatBoostRegressor
pipe = Pipeline([
        ('model',CatBoostRegressor(depth= 10, iterations=200, learning_rate= 0.1))
    ])
pipe.fit(X_train, y_train)
y_pred = pipe.predict(X_test)
print('R2 SCORE', r2_score(y_test,y_pred))
print('RMSE', sqrt(mean_squared_error(y_test,y_pred)))

0:	learn: 343.0584898	total: 14.3ms	remaining: 2.84s
1:	learn: 320.7919392	total: 27.9ms	remaining: 2.76s
2:	learn: 301.6611760	total: 41.1ms	remaining: 2.7s
3:	learn: 284.5948273	total: 54.2ms	remaining: 2.65s
4:	learn: 270.3744478	total: 67.1ms	remaining: 2.62s
5:	learn: 257.7298464	total: 84.3ms	remaining: 2.73s
6:	learn: 246.5062696	total: 97.6ms	remaining: 2.69s
7:	learn: 236.9440905	total: 112ms	remaining: 2.69s
8:	learn: 228.8099919	total: 127ms	remaining: 2.69s
9:	learn: 221.5998185	total: 140ms	remaining: 2.65s
10:	learn: 215.3746128	total: 153ms	remaining: 2.62s
11:	learn: 209.5662417	total: 166ms	remaining: 2.61s
12:	learn: 204.8342450	total: 180ms	remaining: 2.58s
13:	learn: 200.4023458	total: 192ms	remaining: 2.56s
14:	learn: 196.9288762	total: 205ms	remaining: 2.53s
15:	learn: 193.1744892	total: 221ms	remaining: 2.54s
16:	learn: 190.2839854	total: 234ms	remaining: 2.52s
17:	learn: 187.3084705	total: 247ms	remaining: 2.5s
18:	learn: 185.1153162	total: 260ms	remaining: 2.48s
19:	learn: 182.9949605	total: 273ms	remaining: 2.46s
20:	learn: 180.8635228	total: 286ms	remaining: 2.44s
21:	learn: 179.0496483	total: 300ms	remaining: 2.43s
22:	learn: 177.2946270	total: 313ms	remaining: 2.41s
23:	learn: 175.8178718	total: 326ms	remaining: 2.39s
24:	learn: 174.6600125	total: 340ms	remaining: 2.38s
25:	learn: 173.3515389	total: 353ms	remaining: 2.36s
26:	learn: 172.0930503	total: 367ms	remaining: 2.35s
27:	learn: 170.9118501	total: 380ms	remaining: 2.33s
28:	learn: 170.2188018	total: 393ms	remaining: 2.32s
29:	learn: 169.2945987	total: 406ms	remaining: 2.3s
30:	learn: 168.4270744	total: 419ms	remaining: 2.29s
31:	learn: 167.6244803	total: 437ms	remaining: 2.29s
32:	learn: 166.5722098	total: 452ms	remaining: 2.29s
33:	learn: 165.7995646	total: 465ms	remaining: 2.27s
34:	learn: 165.0536411	total: 479ms	remaining: 2.26s
35:	learn: 164.1398983	total: 492ms	remaining: 2.24s
36:	learn: 163.4628911	total: 505ms	remaining: 2.22s
37:	learn: 162.9013419	total: 518ms	remaining: 2.21s
38:	learn: 162.2847810	total: 531ms	remaining: 2.19s
39:	learn: 161.5855681	total: 545ms	remaining: 2.18s
40:	learn: 161.1349376	total: 558ms	remaining: 2.16s
41:	learn: 160.6063913	total: 572ms	remaining: 2.15s
42:	learn: 159.9379290	total: 585ms	remaining: 2.14s
43:	learn: 159.1379164	total: 599ms	remaining: 2.12s
44:	learn: 158.4543151	total: 612ms	remaining: 2.11s
45:	learn: 157.9247286	total: 625ms	remaining: 2.09s
46:	learn: 157.3628024	total: 642ms	remaining: 2.09s
47:	learn: 156.8470151	total: 656ms	remaining: 2.08s
48:	learn: 156.0564732	total: 675ms	remaining: 2.08s
49:	learn: 155.5683528	total: 688ms	remaining: 2.06s
50:	learn: 154.8761537	total: 702ms	remaining: 2.05s
51:	learn: 154.3854911	total: 715ms	remaining: 2.04s
52:	learn: 153.8388314	total: 729ms	remaining: 2.02s
53:	learn: 153.2194848	total: 742ms	remaining: 2s
54:	learn: 152.7249170	total: 755ms	remaining: 1.99s
55:	learn: 152.3229779	total: 769ms	remaining: 1.98s
56:	learn: 151.9441089	total: 783ms	remaining: 1.96s
57:	learn: 151.3949583	total: 796ms	remaining: 1.95s
58:	learn: 150.8680855	total: 809ms	remaining: 1.93s
59:	learn: 150.4597265	total: 826ms	remaining: 1.93s
60:	learn: 149.9631160	total: 839ms	remaining: 1.91s
61:	learn: 149.3618424	total: 865ms	remaining: 1.93s
62:	learn: 148.9672222	total: 879ms	remaining: 1.91s
63:	learn: 148.5879786	total: 892ms	remaining: 1.9s
64:	learn: 148.3207192	total: 905ms	remaining: 1.88s
65:	learn: 147.9868383	total: 918ms	remaining: 1.86s
66:	learn: 147.4191115	total: 932ms	remaining: 1.85s
67:	learn: 146.8816091	total: 945ms	remaining: 1.83s
68:	learn: 146.4997938	total: 959ms	remaining: 1.82s
69:	learn: 146.1361933	total: 972ms	remaining: 1.8s
70:	learn: 145.7570543	total: 985ms	remaining: 1.79s
71:	learn: 145.2690224	total: 998ms	remaining: 1.77s
72:	learn: 144.6770706	total: 1.01s	remaining: 1.76s
73:	learn: 144.3419480	total: 1.02s	remaining: 1.75s
74:	learn: 143.8016896	total: 1.04s	remaining: 1.73s
75:	learn: 143.3527345	total: 1.05s	remaining: 1.71s
76:	learn: 142.9208317	total: 1.07s	remaining: 1.71s
77:	learn: 142.6802647	total: 1.08s	remaining: 1.7s
78:	learn: 142.4599116	total: 1.1s	remaining: 1.68s
79:	learn: 142.2672223	total: 1.11s	remaining: 1.67s
80:	learn: 141.9563303	total: 1.12s	remaining: 1.65s
81:	learn: 141.7204337	total: 1.14s	remaining: 1.64s
82:	learn: 141.3794164	total: 1.15s	remaining: 1.62s
83:	learn: 141.1594271	total: 1.17s	remaining: 1.61s
84:	learn: 140.8679742	total: 1.19s	remaining: 1.61s
85:	learn: 140.4587452	total: 1.2s	remaining: 1.6s
86:	learn: 140.1740165	total: 1.22s	remaining: 1.58s
87:	learn: 139.9845691	total: 1.23s	remaining: 1.57s
88:	learn: 139.7784023	total: 1.24s	remaining: 1.55s
89:	learn: 139.5470745	total: 1.26s	remaining: 1.54s
90:	learn: 139.3304407	total: 1.27s	remaining: 1.53s
91:	learn: 139.0337578	total: 1.29s	remaining: 1.51s
92:	learn: 138.7913545	total: 1.3s	remaining: 1.5s
93:	learn: 138.5673000	total: 1.31s	remaining: 1.48s
94:	learn: 138.2851914	total: 1.33s	remaining: 1.47s
95:	learn: 137.9112927	total: 1.34s	remaining: 1.45s
96:	learn: 137.5065510	total: 1.36s	remaining: 1.44s
97:	learn: 137.1517396	total: 1.37s	remaining: 1.43s
98:	learn: 136.6948187	total: 1.38s	remaining: 1.41s
99:	learn: 136.5629104	total: 1.4s	remaining: 1.4s
100:	learn: 136.2819241	total: 1.41s	remaining: 1.38s
101:	learn: 136.0909713	total: 1.42s	remaining: 1.37s
102:	learn: 135.9079829	total: 1.44s	remaining: 1.35s
103:	learn: 135.6941470	total: 1.45s	remaining: 1.34s
104:	learn: 135.4278828	total: 1.47s	remaining: 1.33s
105:	learn: 135.1072169	total: 1.48s	remaining: 1.31s
106:	learn: 134.7796455	total: 1.5s	remaining: 1.3s
107:	learn: 134.4382161	total: 1.51s	remaining: 1.28s
108:	learn: 134.1492305	total: 1.52s	remaining: 1.27s
109:	learn: 133.7946149	total: 1.53s	remaining: 1.25s
110:	learn: 133.5048340	total: 1.55s	remaining: 1.24s
111:	learn: 133.3729093	total: 1.56s	remaining: 1.23s
112:	learn: 133.0966187	total: 1.57s	remaining: 1.21s
113:	learn: 132.8052923	total: 1.59s	remaining: 1.2s
114:	learn: 132.5202225	total: 1.6s	remaining: 1.18s
115:	learn: 132.1570540	total: 1.61s	remaining: 1.17s
116:	learn: 132.0188293	total: 1.63s	remaining: 1.15s
117:	learn: 131.8338281	total: 1.64s	remaining: 1.14s
118:	learn: 131.6567695	total: 1.65s	remaining: 1.13s
119:	learn: 131.5223956	total: 1.67s	remaining: 1.11s
120:	learn: 131.2443171	total: 1.68s	remaining: 1.1s
121:	learn: 130.9727208	total: 1.71s	remaining: 1.09s
122:	learn: 130.8198046	total: 1.72s	remaining: 1.08s
123:	learn: 130.5831414	total: 1.74s	remaining: 1.06s
124:	learn: 130.4518022	total: 1.75s	remaining: 1.05s
125:	learn: 130.3092665	total: 1.76s	remaining: 1.04s
126:	learn: 130.1031998	total: 1.78s	remaining: 1.02s
127:	learn: 129.9908905	total: 1.79s	remaining: 1.01s
128:	learn: 129.7656214	total: 1.8s	remaining: 993ms
129:	learn: 129.5081250	total: 1.82s	remaining: 978ms
130:	learn: 129.1876886	total: 1.83s	remaining: 964ms
131:	learn: 128.9532515	total: 1.84s	remaining: 949ms
132:	learn: 128.8196774	total: 1.87s	remaining: 940ms
133:	learn: 128.6271327	total: 1.88s	remaining: 928ms
134:	learn: 128.5406978	total: 1.9s	remaining: 916ms
135:	learn: 128.2662584	total: 1.92s	remaining: 901ms
136:	learn: 128.1661285	total: 1.93s	remaining: 887ms
137:	learn: 127.9742019	total: 1.94s	remaining: 873ms
138:	learn: 127.8490186	total: 1.96s	remaining: 858ms
139:	learn: 127.5762739	total: 1.97s	remaining: 844ms
140:	learn: 127.4053060	total: 1.98s	remaining: 829ms
141:	learn: 127.2005186	total: 2s	remaining: 815ms
142:	learn: 127.1160983	total: 2.01s	remaining: 801ms
143:	learn: 126.8317089	total: 2.02s	remaining: 786ms
144:	learn: 126.5994513	total: 2.04s	remaining: 772ms
145:	learn: 126.3840108	total: 2.05s	remaining: 758ms
146:	learn: 126.1404021	total: 2.06s	remaining: 743ms
147:	learn: 126.0791695	total: 2.07s	remaining: 729ms
148:	learn: 126.0161007	total: 2.09s	remaining: 715ms
149:	learn: 125.7938249	total: 2.11s	remaining: 702ms
150:	learn: 125.5797750	total: 2.12s	remaining: 688ms
151:	learn: 125.3031896	total: 2.13s	remaining: 674ms
152:	learn: 125.0467895	total: 2.15s	remaining: 660ms
153:	learn: 124.8549756	total: 2.16s	remaining: 646ms
154:	learn: 124.7537239	total: 2.17s	remaining: 632ms
155:	learn: 124.4809828	total: 2.19s	remaining: 617ms
156:	learn: 124.2527226	total: 2.2s	remaining: 603ms
157:	learn: 124.0413015	total: 2.21s	remaining: 589ms
158:	learn: 123.9418357	total: 2.23s	remaining: 574ms
159:	learn: 123.7546809	total: 2.24s	remaining: 561ms
160:	learn: 123.5569544	total: 2.25s	remaining: 546ms
161:	learn: 123.4253589	total: 2.27s	remaining: 532ms
162:	learn: 123.2319959	total: 2.28s	remaining: 518ms
163:	learn: 123.0766615	total: 2.29s	remaining: 504ms
164:	learn: 122.8917318	total: 2.31s	remaining: 490ms
165:	learn: 122.6951351	total: 2.32s	remaining: 476ms
166:	learn: 122.5199404	total: 2.34s	remaining: 462ms
167:	learn: 122.4169445	total: 2.35s	remaining: 448ms
168:	learn: 122.2558174	total: 2.36s	remaining: 434ms
169:	learn: 122.0922645	total: 2.38s	remaining: 419ms
170:	learn: 121.9038666	total: 2.39s	remaining: 405ms
171:	learn: 121.7404963	total: 2.4s	remaining: 391ms
172:	learn: 121.5394227	total: 2.42s	remaining: 377ms
173:	learn: 121.4373324	total: 2.43s	remaining: 363ms
174:	learn: 121.3306099	total: 2.44s	remaining: 349ms
175:	learn: 121.1521515	total: 2.45s	remaining: 335ms
176:	learn: 121.0316973	total: 2.47s	remaining: 321ms
177:	learn: 120.8665550	total: 2.48s	remaining: 307ms
178:	learn: 120.7407515	total: 2.5s	remaining: 293ms
179:	learn: 120.6199868	total: 2.51s	remaining: 279ms
180:	learn: 120.5422806	total: 2.53s	remaining: 265ms
181:	learn: 120.3446337	total: 2.54s	remaining: 251ms
182:	learn: 120.1333167	total: 2.55s	remaining: 237ms
183:	learn: 120.0610434	total: 2.57s	remaining: 223ms
184:	learn: 119.8727375	total: 2.58s	remaining: 209ms
185:	learn: 119.7834216	total: 2.59s	remaining: 195ms
186:	learn: 119.5975412	total: 2.61s	remaining: 181ms
187:	learn: 119.4225446	total: 2.62s	remaining: 167ms
188:	learn: 119.1780898	total: 2.63s	remaining: 153ms
189:	learn: 118.9753991	total: 2.65s	remaining: 139ms
190:	learn: 118.8425981	total: 2.66s	remaining: 125ms
191:	learn: 118.6994115	total: 2.67s	remaining: 111ms
192:	learn: 118.5392006	total: 2.69s	remaining: 97.5ms
193:	learn: 118.3509481	total: 2.7s	remaining: 83.5ms
194:	learn: 118.2238207	total: 2.71s	remaining: 69.6ms
195:	learn: 118.0240237	total: 2.73s	remaining: 55.7ms
196:	learn: 117.8641306	total: 2.75s	remaining: 41.9ms
197:	learn: 117.7946527	total: 2.76s	remaining: 27.9ms
198:	learn: 117.5060269	total: 2.77s	remaining: 13.9ms
199:	learn: 117.3835433	total: 2.79s	remaining: 0us
R2 SCORE 0.8960392630045904
RMSE 119.75375512593689

In [ ]:
#saving model
import pickle
pickle.dump(pipe, open('modelCAT.pkl', 'wb'))
pickled_model = pickle.load(open('modelCAT.pkl', 'rb'))

In [ ]:
#SVR
pipe = Pipeline([
        ('model',SVR())
    ])
pipe.fit(X_train, y_train)
y_pred = pipe.predict(X_test)
print('R2 SCORE', r2_score(y_test,y_pred))
print('RMSE', sqrt(mean_squared_error(y_test,y_pred)))

In [ ]:
import pickle
pickle.dump(pipe, open('modelSVR.pkl', 'wb'))
pickled_model = pickle.load(open('modelSVR.pkl', 'rb'))

In [143]:
#GRADIENTBOOSTREGRESSOR
pipe = Pipeline([
        ('model',GradientBoostingRegressor(criterion='squared_error',
                          learning_rate=0.176655593656432, max_depth=4,
                          max_leaf_nodes=50, n_estimators=200))   ])
pipe.fit(X_train, y_train)
y_pred = pipe.predict(X_test)
print('R2 SCORE', r2_score(y_test,y_pred))
print('RMSE', sqrt(mean_squared_error(y_test,y_pred)))

R2 SCORE 0.8475322017103505
RMSE 144.87475002593496

In [173]:
import pickle
pickle.dump(pipe, open('modelGRAD.pkl', 'wb'))
pickled_model = pickle.load(open('modelGRAD.pkl', 'rb'))

In [188]:
#LIGHTGBM
import lightgbm as lgb
gbm = lgb.LGBMRegressor(objective='regression',num_leaves=100,learning_rate=0.2,n_estimators=200)
gbm.fit(X_train, y_train,
    eval_set=[(X_test, y_test)],
    eval_metric='l2_root',
    early_stopping_rounds=10)
y_pred = gbm.predict(X_test, num_iteration=gbm.best_iteration_)
print('R2 SCORE', r2_score(y_test,y_pred))
print('RMSE', sqrt(mean_squared_error(y_test,y_pred)))

[1]	valid_0's rmse: 315.966	valid_0's l2: 99834.6
Training until validation scores don't improve for 10 rounds.
[2]	valid_0's rmse: 274.309	valid_0's l2: 75245.3
[3]	valid_0's rmse: 243.427	valid_0's l2: 59256.9
[4]	valid_0's rmse: 220.694	valid_0's l2: 48705.7
[5]	valid_0's rmse: 203.744	valid_0's l2: 41511.8
[6]	valid_0's rmse: 191.409	valid_0's l2: 36637.4
[7]	valid_0's rmse: 182.46	valid_0's l2: 33291.6
[8]	valid_0's rmse: 175.279	valid_0's l2: 30722.7
[9]	valid_0's rmse: 170.052	valid_0's l2: 28917.8
[10]	valid_0's rmse: 166.205	valid_0's l2: 27624.2
[11]	valid_0's rmse: 162.752	valid_0's l2: 26488.1
[12]	valid_0's rmse: 159.38	valid_0's l2: 25402
[13]	valid_0's rmse: 157.191	valid_0's l2: 24709
[14]	valid_0's rmse: 154.562	valid_0's l2: 23889.3
[15]	valid_0's rmse: 152.244	valid_0's l2: 23178.3
[16]	valid_0's rmse: 149.749	valid_0's l2: 22424.8
[17]	valid_0's rmse: 147.709	valid_0's l2: 21817.8
[18]	valid_0's rmse: 145.395	valid_0's l2: 21139.8
[19]	valid_0's rmse: 143.444	valid_0's l2: 20576.1
[20]	valid_0's rmse: 142.358	valid_0's l2: 20265.9
[21]	valid_0's rmse: 140.883	valid_0's l2: 19848
[22]	valid_0's rmse: 139.427	valid_0's l2: 19440
[23]	valid_0's rmse: 138.242	valid_0's l2: 19110.9
[24]	valid_0's rmse: 136.809	valid_0's l2: 18716.7
[25]	valid_0's rmse: 136.242	valid_0's l2: 18561.9
[26]	valid_0's rmse: 135.357	valid_0's l2: 18321.4
[27]	valid_0's rmse: 134.8	valid_0's l2: 18171.1
[28]	valid_0's rmse: 134.431	valid_0's l2: 18071.7
[29]	valid_0's rmse: 133.251	valid_0's l2: 17755.8
[30]	valid_0's rmse: 132.554	valid_0's l2: 17570.5
[31]	valid_0's rmse: 131.508	valid_0's l2: 17294.4
[32]	valid_0's rmse: 130.663	valid_0's l2: 17072.9
[33]	valid_0's rmse: 130.142	valid_0's l2: 16936.9
[34]	valid_0's rmse: 129.596	valid_0's l2: 16795.2
[35]	valid_0's rmse: 128.582	valid_0's l2: 16533.4
[36]	valid_0's rmse: 127.884	valid_0's l2: 16354.4
[37]	valid_0's rmse: 127.164	valid_0's l2: 16170.7
[38]	valid_0's rmse: 126.224	valid_0's l2: 15932.6
[39]	valid_0's rmse: 125.572	valid_0's l2: 15768.4
[40]	valid_0's rmse: 124.947	valid_0's l2: 15611.9
[41]	valid_0's rmse: 123.775	valid_0's l2: 15320.2
[42]	valid_0's rmse: 123.455	valid_0's l2: 15241.2
[43]	valid_0's rmse: 122.864	valid_0's l2: 15095.5
[44]	valid_0's rmse: 122.165	valid_0's l2: 14924.3
[45]	valid_0's rmse: 121.078	valid_0's l2: 14659.9
[46]	valid_0's rmse: 120.362	valid_0's l2: 14487.1
[47]	valid_0's rmse: 119.841	valid_0's l2: 14361.8
[48]	valid_0's rmse: 119.656	valid_0's l2: 14317.6
[49]	valid_0's rmse: 119.286	valid_0's l2: 14229.1
[50]	valid_0's rmse: 118.919	valid_0's l2: 14141.8
[51]	valid_0's rmse: 118.444	valid_0's l2: 14029
[52]	valid_0's rmse: 117.993	valid_0's l2: 13922.3
[53]	valid_0's rmse: 117.777	valid_0's l2: 13871.5
[54]	valid_0's rmse: 117.444	valid_0's l2: 13793.2
[55]	valid_0's rmse: 116.324	valid_0's l2: 13531.2
[56]	valid_0's rmse: 115.654	valid_0's l2: 13376
[57]	valid_0's rmse: 115.013	valid_0's l2: 13227.9
[58]	valid_0's rmse: 114.299	valid_0's l2: 13064.4
[59]	valid_0's rmse: 113.679	valid_0's l2: 12923
[60]	valid_0's rmse: 112.975	valid_0's l2: 12763.3
[61]	valid_0's rmse: 112.705	valid_0's l2: 12702.5
[62]	valid_0's rmse: 112.232	valid_0's l2: 12596
[63]	valid_0's rmse: 111.854	valid_0's l2: 12511.4
[64]	valid_0's rmse: 111.542	valid_0's l2: 12441.6
[65]	valid_0's rmse: 110.751	valid_0's l2: 12265.8
[66]	valid_0's rmse: 110.176	valid_0's l2: 12138.7
[67]	valid_0's rmse: 109.668	valid_0's l2: 12027
[68]	valid_0's rmse: 109.076	valid_0's l2: 11897.5
[69]	valid_0's rmse: 108.774	valid_0's l2: 11831.8
[70]	valid_0's rmse: 108.297	valid_0's l2: 11728.2
[71]	valid_0's rmse: 108.102	valid_0's l2: 11685.9
[72]	valid_0's rmse: 107.704	valid_0's l2: 11600.1
[73]	valid_0's rmse: 106.854	valid_0's l2: 11417.7
[74]	valid_0's rmse: 106.269	valid_0's l2: 11293
[75]	valid_0's rmse: 106.126	valid_0's l2: 11262.6
[76]	valid_0's rmse: 106.085	valid_0's l2: 11254
[77]	valid_0's rmse: 105.63	valid_0's l2: 11157.7
[78]	valid_0's rmse: 105.094	valid_0's l2: 11044.7
[79]	valid_0's rmse: 104.498	valid_0's l2: 10919.8
[80]	valid_0's rmse: 104.175	valid_0's l2: 10852.5
[81]	valid_0's rmse: 104.03	valid_0's l2: 10822.2
[82]	valid_0's rmse: 103.938	valid_0's l2: 10803.1
[83]	valid_0's rmse: 103.594	valid_0's l2: 10731.7
[84]	valid_0's rmse: 103.48	valid_0's l2: 10708.1
[85]	valid_0's rmse: 103.185	valid_0's l2: 10647.2
[86]	valid_0's rmse: 102.871	valid_0's l2: 10582.5
[87]	valid_0's rmse: 102.687	valid_0's l2: 10544.6
[88]	valid_0's rmse: 102.286	valid_0's l2: 10462.4
[89]	valid_0's rmse: 101.913	valid_0's l2: 10386.2
[90]	valid_0's rmse: 101.673	valid_0's l2: 10337.5
[91]	valid_0's rmse: 101.327	valid_0's l2: 10267.2
[92]	valid_0's rmse: 100.985	valid_0's l2: 10198.1
[93]	valid_0's rmse: 100.885	valid_0's l2: 10177.7
[94]	valid_0's rmse: 100.439	valid_0's l2: 10088
[95]	valid_0's rmse: 100.094	valid_0's l2: 10018.8
[96]	valid_0's rmse: 100.051	valid_0's l2: 10010.2
[97]	valid_0's rmse: 99.7537	valid_0's l2: 9950.8
[98]	valid_0's rmse: 99.7263	valid_0's l2: 9945.33
[99]	valid_0's rmse: 99.0566	valid_0's l2: 9812.22
[100]	valid_0's rmse: 98.8536	valid_0's l2: 9772.03
[101]	valid_0's rmse: 98.1709	valid_0's l2: 9637.53
[102]	valid_0's rmse: 97.334	valid_0's l2: 9473.9
[103]	valid_0's rmse: 97.3169	valid_0's l2: 9470.58
[104]	valid_0's rmse: 97.2943	valid_0's l2: 9466.17
[105]	valid_0's rmse: 96.7558	valid_0's l2: 9361.69
[106]	valid_0's rmse: 96.0255	valid_0's l2: 9220.9
[107]	valid_0's rmse: 95.8679	valid_0's l2: 9190.65
[108]	valid_0's rmse: 95.7574	valid_0's l2: 9169.47
[109]	valid_0's rmse: 95.0099	valid_0's l2: 9026.88
[110]	valid_0's rmse: 94.4296	valid_0's l2: 8916.94
[111]	valid_0's rmse: 94.1682	valid_0's l2: 8867.66
[112]	valid_0's rmse: 93.8316	valid_0's l2: 8804.37
[113]	valid_0's rmse: 93.7657	valid_0's l2: 8792.01
[114]	valid_0's rmse: 93.6911	valid_0's l2: 8778.02
[115]	valid_0's rmse: 93.6021	valid_0's l2: 8761.36
[116]	valid_0's rmse: 93.5246	valid_0's l2: 8746.84
[117]	valid_0's rmse: 93.2816	valid_0's l2: 8701.47
[118]	valid_0's rmse: 92.7465	valid_0's l2: 8601.91
[119]	valid_0's rmse: 92.5488	valid_0's l2: 8565.27
[120]	valid_0's rmse: 91.987	valid_0's l2: 8461.6
[121]	valid_0's rmse: 91.8543	valid_0's l2: 8437.2
[122]	valid_0's rmse: 91.4411	valid_0's l2: 8361.47
[123]	valid_0's rmse: 90.8975	valid_0's l2: 8262.36
[124]	valid_0's rmse: 90.8872	valid_0's l2: 8260.49
[125]	valid_0's rmse: 90.4311	valid_0's l2: 8177.78
[126]	valid_0's rmse: 90.0634	valid_0's l2: 8111.42
[127]	valid_0's rmse: 89.566	valid_0's l2: 8022.06
[128]	valid_0's rmse: 89.2978	valid_0's l2: 7974.11
[129]	valid_0's rmse: 89.2249	valid_0's l2: 7961.09
[130]	valid_0's rmse: 88.9285	valid_0's l2: 7908.28
[131]	valid_0's rmse: 88.5642	valid_0's l2: 7843.62
[132]	valid_0's rmse: 88.3762	valid_0's l2: 7810.36
[133]	valid_0's rmse: 88.2726	valid_0's l2: 7792.05
[134]	valid_0's rmse: 88.1093	valid_0's l2: 7763.24
[135]	valid_0's rmse: 87.9478	valid_0's l2: 7734.82
[136]	valid_0's rmse: 87.63	valid_0's l2: 7679.02
[137]	valid_0's rmse: 87.5779	valid_0's l2: 7669.88
[138]	valid_0's rmse: 87.0268	valid_0's l2: 7573.66
[139]	valid_0's rmse: 86.8438	valid_0's l2: 7541.84
[140]	valid_0's rmse: 86.6887	valid_0's l2: 7514.93
[141]	valid_0's rmse: 86.5594	valid_0's l2: 7492.52
[142]	valid_0's rmse: 86.3675	valid_0's l2: 7459.34
[143]	valid_0's rmse: 86.2417	valid_0's l2: 7437.63
[144]	valid_0's rmse: 86.0792	valid_0's l2: 7409.64
[145]	valid_0's rmse: 86.0519	valid_0's l2: 7404.93
[146]	valid_0's rmse: 85.8327	valid_0's l2: 7367.26
[147]	valid_0's rmse: 85.6218	valid_0's l2: 7331.1
[148]	valid_0's rmse: 85.403	valid_0's l2: 7293.67
[149]	valid_0's rmse: 85.2886	valid_0's l2: 7274.14
[150]	valid_0's rmse: 85.1947	valid_0's l2: 7258.13
[151]	valid_0's rmse: 85.0074	valid_0's l2: 7226.26
[152]	valid_0's rmse: 84.9718	valid_0's l2: 7220.21
[153]	valid_0's rmse: 84.7819	valid_0's l2: 7187.96
[154]	valid_0's rmse: 84.6245	valid_0's l2: 7161.31
[155]	valid_0's rmse: 84.2454	valid_0's l2: 7097.29
[156]	valid_0's rmse: 84.099	valid_0's l2: 7072.63
[157]	valid_0's rmse: 84.0368	valid_0's l2: 7062.18
[158]	valid_0's rmse: 83.9855	valid_0's l2: 7053.56
[159]	valid_0's rmse: 83.7557	valid_0's l2: 7015.01
[160]	valid_0's rmse: 83.6381	valid_0's l2: 6995.33
[161]	valid_0's rmse: 83.3067	valid_0's l2: 6940.01
[162]	valid_0's rmse: 82.8978	valid_0's l2: 6872.04
[163]	valid_0's rmse: 82.8165	valid_0's l2: 6858.57
[164]	valid_0's rmse: 82.7956	valid_0's l2: 6855.11
[165]	valid_0's rmse: 82.5857	valid_0's l2: 6820.4
[166]	valid_0's rmse: 82.4616	valid_0's l2: 6799.91
[167]	valid_0's rmse: 82.0339	valid_0's l2: 6729.57
[168]	valid_0's rmse: 81.8414	valid_0's l2: 6698.01
[169]	valid_0's rmse: 81.543	valid_0's l2: 6649.27
[170]	valid_0's rmse: 81.4027	valid_0's l2: 6626.41
[171]	valid_0's rmse: 81.3033	valid_0's l2: 6610.22
[172]	valid_0's rmse: 81.2228	valid_0's l2: 6597.14
[173]	valid_0's rmse: 80.9171	valid_0's l2: 6547.58
[174]	valid_0's rmse: 80.8612	valid_0's l2: 6538.53
[175]	valid_0's rmse: 80.6684	valid_0's l2: 6507.39
[176]	valid_0's rmse: 80.5566	valid_0's l2: 6489.36
[177]	valid_0's rmse: 80.5226	valid_0's l2: 6483.89
[178]	valid_0's rmse: 80.3821	valid_0's l2: 6461.28
[179]	valid_0's rmse: 80.358	valid_0's l2: 6457.41
[180]	valid_0's rmse: 80.2706	valid_0's l2: 6443.37
[181]	valid_0's rmse: 80.2018	valid_0's l2: 6432.34
[182]	valid_0's rmse: 80.091	valid_0's l2: 6414.57
[183]	valid_0's rmse: 80.0039	valid_0's l2: 6400.62
[184]	valid_0's rmse: 79.7449	valid_0's l2: 6359.24
[185]	valid_0's rmse: 79.5	valid_0's l2: 6320.25
[186]	valid_0's rmse: 79.3907	valid_0's l2: 6302.89
[187]	valid_0's rmse: 79.2134	valid_0's l2: 6274.76
[188]	valid_0's rmse: 79.1746	valid_0's l2: 6268.61
[189]	valid_0's rmse: 79.0646	valid_0's l2: 6251.22
[190]	valid_0's rmse: 78.9095	valid_0's l2: 6226.7
[191]	valid_0's rmse: 78.8286	valid_0's l2: 6213.94
[192]	valid_0's rmse: 78.6436	valid_0's l2: 6184.82
[193]	valid_0's rmse: 78.4939	valid_0's l2: 6161.3
[194]	valid_0's rmse: 78.4083	valid_0's l2: 6147.87
[195]	valid_0's rmse: 78.3726	valid_0's l2: 6142.26
[196]	valid_0's rmse: 78.2903	valid_0's l2: 6129.38
[197]	valid_0's rmse: 78.1516	valid_0's l2: 6107.67
[198]	valid_0's rmse: 78.0276	valid_0's l2: 6088.31
[199]	valid_0's rmse: 77.915	valid_0's l2: 6070.75
[200]	valid_0's rmse: 77.8198	valid_0's l2: 6055.93
Did not meet early stopping. Best iteration is:
[200]	valid_0's rmse: 77.8198	valid_0's l2: 6055.93
R2 SCORE 0.9560080421054152
RMSE 77.8198305240551

In [189]:
import pickle
pickle.dump(gbm, open('modelgbm.pkl', 'wb'))
pickled_model = pickle.load(open('modelgbm.pkl', 'rb'))

In [ ]:
#XGBOOST
import xgboost as xgb
boost_params = {'eval_metric': 'rmse'}
xgb0 = xgb.XGBRegressor(
max_depth=8,
learning_rate=0.1,
n_estimators=200,
objective='reg:linear',
gamma=0,
min_child_weight=1,
subsample=1,
colsample_bytree=1,
scale_pos_weight=1,
seed=27,
**boost_params)
xgb0.fit(X_train,y_train)
accuracyxgboost = round(xgb0.score(X_train, y_train)*100,2)
predict_xgboost = xgb0.predict(X_test)
msexgboost = mean_squared_error(y_test,predict_xgboost)
rmsexgboost= np.sqrt(msexgboost)

[05:06:16] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.

In [383]:
#ANN
## Part 2 Now lets create the ANN
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense
from tensorflow.keras.layers import LeakyReLU,PReLU,ELU,ReLU
from tensorflow.keras.layers import Dropout

In [398]:
### Lets initialize the ANN
regressor=Sequential()
## Adding the input Layer and first hidden layer
regressor.add(Dense(10,input_shape=(15,),activation='relu'))


# adding the first hidden layer
regressor.add(Dense(units=10,activation='relu'))
#regressor.add(Dropout(0.2))

##adding the second hidden layer
regressor.add(Dense(units=10,activation='relu'))
#regressor.add(Dropout(0.3))
regressor.add(Dense(units=10,activation='relu'))
##  Adding the output layer
regressor.add(Dense(1))

In [399]:
import tensorflow
mse=tensorflow.keras.losses.MeanSquaredError(
    name='mean_squared_error'
)
metrics=tensorflow.keras.metrics.MeanSquaredError(
    name='mean_squared_error', dtype=None
)

In [400]:
import tensorflow
opt=tensorflow.keras.optimizers.Adam(learning_rate=0.01)
regressor.compile(optimizer=opt,loss=mse,metrics=['mae'])

In [401]:
## Early Stopping
import tensorflow as tf
early_stopping=tf.keras.callbacks.EarlyStopping(
    monitor="mae",
    patience=10
   
)

In [402]:
model_history=regressor.fit(X_train,y_train,validation_data=(X_test,y_test),batch_size=10,epochs=50,callbacks=early_stopping)

Epoch 1/50
7600/7600 [==============================] - 16s 2ms/step - loss: 74313.0391 - mae: 201.0722 - val_loss: 58893.7305 - val_mae: 186.3070
Epoch 2/50
7600/7600 [==============================] - 16s 2ms/step - loss: 54014.6680 - mae: 182.4608 - val_loss: 49625.6953 - val_mae: 176.1594
Epoch 3/50
7600/7600 [==============================] - 16s 2ms/step - loss: 41896.8750 - mae: 158.9172 - val_loss: 34672.4062 - val_mae: 143.2267
Epoch 4/50
7600/7600 [==============================] - 16s 2ms/step - loss: 36464.8438 - mae: 147.5461 - val_loss: 36044.6953 - val_mae: 145.6626
Epoch 5/50
7600/7600 [==============================] - 16s 2ms/step - loss: 35361.2070 - mae: 144.9234 - val_loss: 33400.4570 - val_mae: 141.1149
Epoch 6/50
7600/7600 [==============================] - 16s 2ms/step - loss: 34715.1250 - mae: 143.5433 - val_loss: 33316.1328 - val_mae: 140.7484
Epoch 7/50
7600/7600 [==============================] - 16s 2ms/step - loss: 34192.4336 - mae: 142.4963 - val_loss: 34100.4180 - val_mae: 142.0762
Epoch 8/50
7600/7600 [==============================] - 16s 2ms/step - loss: 34007.1953 - mae: 142.1038 - val_loss: 32892.2812 - val_mae: 140.3431
Epoch 9/50
7600/7600 [==============================] - 16s 2ms/step - loss: 33784.6758 - mae: 141.6378 - val_loss: 33626.2969 - val_mae: 142.1799
Epoch 10/50
7600/7600 [==============================] - 16s 2ms/step - loss: 33849.2344 - mae: 141.7334 - val_loss: 37407.1914 - val_mae: 148.4131
Epoch 11/50
7600/7600 [==============================] - 16s 2ms/step - loss: 33741.4688 - mae: 141.4062 - val_loss: 32448.9668 - val_mae: 139.1154
Epoch 12/50
7600/7600 [==============================] - 16s 2ms/step - loss: 33661.2617 - mae: 141.2219 - val_loss: 31684.8340 - val_mae: 136.8146
Epoch 13/50
7600/7600 [==============================] - 16s 2ms/step - loss: 33324.1992 - mae: 140.5026 - val_loss: 38102.3320 - val_mae: 150.9785
Epoch 14/50
7600/7600 [==============================] - 16s 2ms/step - loss: 33394.5586 - mae: 140.5710 - val_loss: 34100.6211 - val_mae: 145.0407
Epoch 15/50
7600/7600 [==============================] - 16s 2ms/step - loss: 32959.7188 - mae: 139.5667 - val_loss: 33724.1523 - val_mae: 140.6821
Epoch 16/50
7600/7600 [==============================] - 17s 2ms/step - loss: 32914.8008 - mae: 139.5772 - val_loss: 32790.1602 - val_mae: 140.5126
Epoch 17/50
7600/7600 [==============================] - 16s 2ms/step - loss: 32806.5391 - mae: 139.2482 - val_loss: 31779.9961 - val_mae: 136.8644
Epoch 18/50
7600/7600 [==============================] - 17s 2ms/step - loss: 32701.0664 - mae: 138.9414 - val_loss: 32221.5840 - val_mae: 138.2806
Epoch 19/50
7600/7600 [==============================] - 16s 2ms/step - loss: 32489.5137 - mae: 138.5857 - val_loss: 31924.7188 - val_mae: 136.9329
Epoch 20/50
7600/7600 [==============================] - 16s 2ms/step - loss: 32319.8477 - mae: 138.2158 - val_loss: 31686.3574 - val_mae: 136.8473
Epoch 21/50
7600/7600 [==============================] - 16s 2ms/step - loss: 32294.7539 - mae: 138.0574 - val_loss: 34088.1680 - val_mae: 144.2752
Epoch 22/50
7600/7600 [==============================] - 16s 2ms/step - loss: 32120.8262 - mae: 137.6263 - val_loss: 38492.3594 - val_mae: 152.7150
Epoch 23/50
7600/7600 [==============================] - 16s 2ms/step - loss: 32220.3242 - mae: 137.8945 - val_loss: 30370.7773 - val_mae: 133.7148
Epoch 24/50
7600/7600 [==============================] - 16s 2ms/step - loss: 32018.2715 - mae: 137.4615 - val_loss: 30046.0586 - val_mae: 132.9528
Epoch 25/50
7600/7600 [==============================] - 16s 2ms/step - loss: 31870.2793 - mae: 137.0920 - val_loss: 30687.6113 - val_mae: 134.8262
Epoch 26/50
7600/7600 [==============================] - 16s 2ms/step - loss: 31573.2383 - mae: 136.5212 - val_loss: 30611.6836 - val_mae: 134.1739
Epoch 27/50
7600/7600 [==============================] - 16s 2ms/step - loss: 31519.9727 - mae: 136.4538 - val_loss: 29840.8594 - val_mae: 132.7543
Epoch 28/50
7600/7600 [==============================] - 16s 2ms/step - loss: 31495.9570 - mae: 136.5483 - val_loss: 34747.1211 - val_mae: 141.5239
Epoch 29/50
7600/7600 [==============================] - 16s 2ms/step - loss: 31473.7266 - mae: 136.4039 - val_loss: 31180.7598 - val_mae: 134.7703
Epoch 30/50
7600/7600 [==============================] - 16s 2ms/step - loss: 31144.6797 - mae: 135.8742 - val_loss: 32579.8027 - val_mae: 140.5336
Epoch 31/50
7600/7600 [==============================] - 16s 2ms/step - loss: 31070.8105 - mae: 135.5450 - val_loss: 33491.7070 - val_mae: 140.9802
Epoch 32/50
7600/7600 [==============================] - 16s 2ms/step - loss: 31115.3613 - mae: 135.7146 - val_loss: 29902.9590 - val_mae: 133.0234
Epoch 33/50
7600/7600 [==============================] - 16s 2ms/step - loss: 31067.6504 - mae: 135.6152 - val_loss: 30022.3594 - val_mae: 133.1521
Epoch 34/50
7600/7600 [==============================] - 16s 2ms/step - loss: 31100.4746 - mae: 135.5374 - val_loss: 31202.7949 - val_mae: 136.8983
Epoch 35/50
7600/7600 [==============================] - 17s 2ms/step - loss: 31028.0781 - mae: 135.5235 - val_loss: 31164.9707 - val_mae: 134.4541
Epoch 36/50
7600/7600 [==============================] - 16s 2ms/step - loss: 30966.0254 - mae: 135.3234 - val_loss: 29420.1211 - val_mae: 131.9622
Epoch 37/50
7600/7600 [==============================] - 16s 2ms/step - loss: 31008.7734 - mae: 135.2602 - val_loss: 33196.8008 - val_mae: 139.4713
Epoch 38/50
7600/7600 [==============================] - 16s 2ms/step - loss: 30902.0117 - mae: 135.1436 - val_loss: 30156.4395 - val_mae: 133.5607
Epoch 39/50
7600/7600 [==============================] - 16s 2ms/step - loss: 30865.3262 - mae: 135.1665 - val_loss: 32204.2754 - val_mae: 139.1674
Epoch 40/50
7600/7600 [==============================] - 16s 2ms/step - loss: 30849.7207 - mae: 135.1431 - val_loss: 37207.0898 - val_mae: 147.5755
Epoch 41/50
7600/7600 [==============================] - 16s 2ms/step - loss: 30874.5312 - mae: 135.1392 - val_loss: 30026.5371 - val_mae: 133.2351
Epoch 42/50
7600/7600 [==============================] - 16s 2ms/step - loss: 30807.0645 - mae: 134.9082 - val_loss: 29753.2637 - val_mae: 132.9799
Epoch 43/50
7600/7600 [==============================] - 16s 2ms/step - loss: 30771.2051 - mae: 135.1509 - val_loss: 31081.7715 - val_mae: 135.9563
Epoch 44/50
7600/7600 [==============================] - 16s 2ms/step - loss: 30741.5664 - mae: 134.9539 - val_loss: 30070.8750 - val_mae: 133.3010
Epoch 45/50
7600/7600 [==============================] - 16s 2ms/step - loss: 30782.7793 - mae: 134.9352 - val_loss: 31970.1680 - val_mae: 137.5202
Epoch 46/50
7600/7600 [==============================] - 16s 2ms/step - loss: 30689.0215 - mae: 134.7320 - val_loss: 30767.7266 - val_mae: 135.5447
Epoch 47/50
7600/7600 [==============================] - 16s 2ms/step - loss: 30529.3574 - mae: 134.2660 - val_loss: 30630.4062 - val_mae: 135.9921
Epoch 48/50
7600/7600 [==============================] - 16s 2ms/step - loss: 30628.4375 - mae: 134.6059 - val_loss: 29924.3574 - val_mae: 133.8311
Epoch 49/50
7600/7600 [==============================] - 16s 2ms/step - loss: 30669.6367 - mae: 134.6425 - val_loss: 29803.3633 - val_mae: 132.7008
Epoch 50/50
7600/7600 [==============================] - 17s 2ms/step - loss: 30523.8652 - mae: 134.5009 - val_loss: 30752.1602 - val_mae: 135.2188

In [403]:
y_pred=regressor.predict(X_test)

594/594 [==============================] - 1s 1ms/step

In [404]:
print(r2_score(y_test,y_pred))

0.7766077872017543

In [405]:
regressor.save('model.h5') #SAVING MODEL

# TEST

In [145]:
tdf=pd.read_csv('/content/sample_data/test_WudNWDM.csv')

In [146]:
tdf1=tdf.ffill().bfill()

In [147]:
tdf1.drop('row_id',axis=1,inplace=True)

In [148]:
tdf1['Date']=tdf1['datetime'].str.split('-').str[2]
tdf1['Month']=tdf1['datetime'].str.split('-').str[1]
tdf1['Year']=tdf1['datetime'].str.split('-').str[0]

In [149]:
tdf1['date']=tdf1['Date'].str.split(' ').str[0]

In [150]:
tdf1['Date']=tdf1['Date'].str.split(' ').str[1]

In [151]:
tdf1['time']=tdf1['Date'].str.split(':').str[0]

In [152]:
tdf1['date']=tdf1['date'].astype(int)
tdf1['Month']=tdf1['Month'].astype(int)
tdf1['Year']=tdf1['Year'].astype(int)
tdf1['time']=tdf1['time'].astype(int)

In [153]:
tdf1.drop(columns = ["datetime","Date"],inplace=True,axis=1)

In [154]:
tdf1

       Month  Year  date  time
0          1  2019     1     0
1          1  2019     1     1
2          1  2019     1     2
3          1  2019     1     3
4          1  2019     1     4
...      ...   ...   ...   ...
26299     12  2021    31    19
26300     12  2021    31    20
26301     12  2021    31    21
26302     12  2021    31    22
26303     12  2021    31    23

[26304 rows x 4 columns]

In [ ]:
tdf1

       Month  Year  date  time
0          1  2019     1     0
1          1  2019     1     1
2          1  2019     1     2
3          1  2019     1     3
4          1  2019     1     4
...      ...   ...   ...   ...
26299     12  2021    31    19
26300     12  2021    31    20
26301     12  2021    31    21
26302     12  2021    31    22
26303     12  2021    31    23

[26304 rows x 4 columns]

In [155]:
one_hot = pd.get_dummies(tdf1['Month'], prefix='Month')
tdf1 = tdf1.join(one_hot)

In [65]:
tdf1.drop(columns = ["Month"],inplace=True,axis=1)

In [66]:
tdf1

,date,time,Month_1,Month_2,Month_3,Month_4,Month_5,Month_6,Month_7,Month_8,Month_9,Month_10,Month_11,Month_12,Year_2019,Year_2020,Year_2021
0,1,0,1,0,0,0,0,0,0,0,0,0,0,0,1,0,0
1,1,1,1,0,0,0,0,0,0,0,0,0,0,0,1,0,0
2,1,2,1,0,0,0,0,0,0,0,0,0,0,0,1,0,0
3,1,3,1,0,0,0,0,0,0,0,0,0,0,0,1,0,0
4,1,4,1,0,0,0,0,0,0,0,0,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26299,31,19,0,0,0,0,0,0,0,0,0,0,0,1,0,0,1
26300,31,20,0,0,0,0,0,0,0,0,0,0,0,1,0,0,1
26301,31,21,0,0,0,0,0,0,0,0,0,0,0,1,0,0,1
26302,31,22,0,0,0,0,0,0,0,0,0,0,0,1,0,0,1
26303,31,23,0,0,0,0,0,0,0,0,0,0,0,1,0,0,1

In [158]:
tdf1.replace({2019: 11, 2020:12 ,2021:13}, inplace = True) # label encoding

In [190]:
#pickled_model = pickle.load(open('modelgbm.pkl', 'rb'))
#a=pickled_model.predict(tdf1)

In [406]:
#MODEL LOADING
from tensorflow import keras
model = keras.models.load_model('model.h5')

In [407]:
#PREDICTION
a=model.predict(tdf1)

822/822 [==============================] - 1s 1ms/step

In [408]:
a

array([[1765.4226],
       [1688.2015],
       [1610.9803],
       ...,
       [2462.565 ],
       [2453.4136],
       [2444.2622]], dtype=float32)

In [409]:
a=pd.DataFrame(a)

In [410]:
d=pd.read_csv('/content/sample_data/test_WudNWDM.csv')

In [411]:
d=d[d.columns[0]]

In [412]:
d

0         94993
1         94994
2         94995
3         94996
4         94997
          ...
26299    121292
26300    121293
26301    121294
26302    121295
26303    121296
Name: row_id, Length: 26304, dtype: int64

In [413]:
d=pd.DataFrame(d)

In [414]:
b=d.join(a)

In [415]:
b

       row_id            0
0       94993  1765.422607
1       94994  1688.201538
2       94995  1610.980347
3       94996  1533.759155
4       94997  1472.993286
...       ...          ...
26299  121292  2480.867676
26300  121293  2471.716553
26301  121294  2462.564941
26302  121295  2453.413574
26303  121296  2444.262207

[26304 rows x 2 columns]

In [416]:
b.rename(columns = {0:'energy'}, inplace = True)

In [417]:
b

       row_id       energy
0       94993  1765.422607
1       94994  1688.201538
2       94995  1610.980347
3       94996  1533.759155
4       94997  1472.993286
...       ...          ...
26299  121292  2480.867676
26300  121293  2471.716553
26301  121294  2462.564941
26302  121295  2453.413574
26303  121296  2444.262207

[26304 rows x 2 columns]

In [418]:
b.to_csv('final_output5.csv', index=False)  #final output

In [360]:
### Lets initialize the ANN
regressor=Sequential()
## Adding the input Layer and first hidden layer
regressor.add(Dense(10,input_shape=(15,),activation='relu'))


# adding the first hidden layer
regressor.add(Dense(units=10,activation='relu'))
#regressor.add(Dropout(0.2))

##adding the second hidden layer
regressor.add(Dense(units=10,activation='relu'))
#regressor.add(Dropout(0.3))
regressor.add(Dense(units=10,activation='relu'))
##  Adding the output layer
regressor.add(Dense(1))

In [361]:
import tensorflow
mse=tensorflow.keras.losses.MeanSquaredError(
    name='mean_squared_error'
)
metrics=tensorflow.keras.metrics.MeanSquaredError(
    name='mean_squared_error', dtype=None
)

In [362]:
import tensorflow
opt=tensorflow.keras.optimizers.Adam(learning_rate=0.01548)

In [363]:

regressor.compile(optimizer=opt,loss=mse,metrics=['mae'])

In [364]:
## Early Stopping
import tensorflow as tf
early_stopping=tf.keras.callbacks.EarlyStopping(
    monitor="mae",
    patience=10
   
)

In [365]:
model_history=regressor.fit(X_train,y_train,validation_data=(X_test,y_test),batch_size=10,epochs=50,callbacks=early_stopping)

Epoch 1/50
7600/7600 [==============================] - 17s 2ms/step - loss: 68615.6641 - mae: 195.5210 - val_loss: 48331.0000 - val_mae: 172.3885
Epoch 2/50
7600/7600 [==============================] - 16s 2ms/step - loss: 48662.7695 - mae: 172.3903 - val_loss: 40195.9023 - val_mae: 156.9429
Epoch 3/50
7600/7600 [==============================] - 16s 2ms/step - loss: 40708.4414 - mae: 156.6826 - val_loss: 36968.7383 - val_mae: 147.6718
Epoch 4/50
7600/7600 [==============================] - 16s 2ms/step - loss: 39563.3633 - mae: 153.9542 - val_loss: 41504.1289 - val_mae: 158.5459
Epoch 5/50
7600/7600 [==============================] - 17s 2ms/step - loss: 38516.0039 - mae: 151.8032 - val_loss: 38396.9883 - val_mae: 153.6250
Epoch 6/50
7600/7600 [==============================] - 16s 2ms/step - loss: 38017.7617 - mae: 150.8934 - val_loss: 37543.4648 - val_mae: 147.9361
Epoch 7/50
7600/7600 [==============================] - 16s 2ms/step - loss: 37635.9766 - mae: 149.7074 - val_loss: 36098.3164 - val_mae: 147.5660
Epoch 8/50
7600/7600 [==============================] - 16s 2ms/step - loss: 37267.9375 - mae: 149.0874 - val_loss: 41694.1992 - val_mae: 159.6666
Epoch 9/50
7600/7600 [==============================] - 16s 2ms/step - loss: 36850.1328 - mae: 148.1097 - val_loss: 34772.3398 - val_mae: 143.8931
Epoch 10/50
7600/7600 [==============================] - 16s 2ms/step - loss: 36965.3945 - mae: 148.3665 - val_loss: 35591.5273 - val_mae: 145.3931
Epoch 11/50
7600/7600 [==============================] - 16s 2ms/step - loss: 36838.0156 - mae: 148.0716 - val_loss: 34766.8438 - val_mae: 144.5016
Epoch 12/50
7600/7600 [==============================] - 16s 2ms/step - loss: 36669.3828 - mae: 147.8287 - val_loss: 34999.9570 - val_mae: 144.6962
Epoch 13/50
7600/7600 [==============================] - 16s 2ms/step - loss: 36635.4453 - mae: 147.7686 - val_loss: 40904.8438 - val_mae: 161.6850
Epoch 14/50
7600/7600 [==============================] - 16s 2ms/step - loss: 36397.8477 - mae: 147.1484 - val_loss: 36250.7734 - val_mae: 148.6956
Epoch 15/50
7600/7600 [==============================] - 16s 2ms/step - loss: 36337.5078 - mae: 146.9039 - val_loss: 34723.9375 - val_mae: 143.9636
Epoch 16/50
7600/7600 [==============================] - 16s 2ms/step - loss: 36274.0391 - mae: 146.8216 - val_loss: 36220.7812 - val_mae: 145.9564
Epoch 17/50
7600/7600 [==============================] - 16s 2ms/step - loss: 36138.2852 - mae: 146.7525 - val_loss: 34321.8477 - val_mae: 142.8985
Epoch 18/50
7600/7600 [==============================] - 16s 2ms/step - loss: 36028.7500 - mae: 146.3380 - val_loss: 38624.5391 - val_mae: 148.9674
Epoch 19/50
7600/7600 [==============================] - 16s 2ms/step - loss: 35892.8203 - mae: 146.0918 - val_loss: 35983.7461 - val_mae: 147.6018
Epoch 20/50
7600/7600 [==============================] - 16s 2ms/step - loss: 36096.0234 - mae: 146.5466 - val_loss: 34882.3516 - val_mae: 142.8987
Epoch 21/50
7600/7600 [==============================] - 16s 2ms/step - loss: 35909.9336 - mae: 146.1934 - val_loss: 35596.9492 - val_mae: 147.1529
Epoch 22/50
7600/7600 [==============================] - 16s 2ms/step - loss: 35822.3047 - mae: 145.9081 - val_loss: 35321.6875 - val_mae: 146.3240
Epoch 23/50
7600/7600 [==============================] - 17s 2ms/step - loss: 36047.2148 - mae: 146.4312 - val_loss: 34348.8242 - val_mae: 142.0535
Epoch 24/50
7600/7600 [==============================] - 17s 2ms/step - loss: 35932.7109 - mae: 146.3255 - val_loss: 35599.7812 - val_mae: 146.5931
Epoch 25/50
7600/7600 [==============================] - 16s 2ms/step - loss: 35847.1367 - mae: 146.0507 - val_loss: 36595.6719 - val_mae: 149.8764
Epoch 26/50
7600/7600 [==============================] - 16s 2ms/step - loss: 35833.6328 - mae: 146.0804 - val_loss: 34854.7656 - val_mae: 143.3704
Epoch 27/50
7600/7600 [==============================] - 16s 2ms/step - loss: 35766.6406 - mae: 145.9321 - val_loss: 34444.9258 - val_mae: 143.4756
Epoch 28/50
7600/7600 [==============================] - 16s 2ms/step - loss: 35799.2930 - mae: 145.9491 - val_loss: 34419.0586 - val_mae: 143.5882
Epoch 29/50
7600/7600 [==============================] - 16s 2ms/step - loss: 35712.7148 - mae: 145.8170 - val_loss: 35444.0195 - val_mae: 144.2145
Epoch 30/50
7600/7600 [==============================] - 16s 2ms/step - loss: 35730.7188 - mae: 145.8232 - val_loss: 35182.3555 - val_mae: 145.6671
Epoch 31/50
7600/7600 [==============================] - 16s 2ms/step - loss: 35699.1992 - mae: 145.9521 - val_loss: 35630.6484 - val_mae: 145.0132
Epoch 32/50
7600/7600 [==============================] - 16s 2ms/step - loss: 35835.4570 - mae: 145.9539 - val_loss: 36715.4805 - val_mae: 146.9484
Epoch 33/50
7600/7600 [==============================] - 16s 2ms/step - loss: 35644.2500 - mae: 145.6529 - val_loss: 34618.4297 - val_mae: 144.1065
Epoch 34/50
7600/7600 [==============================] - 16s 2ms/step - loss: 35809.0977 - mae: 145.9470 - val_loss: 34330.8008 - val_mae: 143.3397
Epoch 35/50
7600/7600 [==============================] - 16s 2ms/step - loss: 35581.9648 - mae: 145.5594 - val_loss: 34841.1445 - val_mae: 144.6742
Epoch 36/50
7600/7600 [==============================] - 17s 2ms/step - loss: 35732.1328 - mae: 145.7562 - val_loss: 35910.4102 - val_mae: 146.6401
Epoch 37/50
7600/7600 [==============================] - 17s 2ms/step - loss: 35603.8164 - mae: 145.5039 - val_loss: 37138.0234 - val_mae: 147.2443
Epoch 38/50
7600/7600 [==============================] - 16s 2ms/step - loss: 35607.5156 - mae: 145.4134 - val_loss: 34188.2148 - val_mae: 142.9527
Epoch 39/50
7600/7600 [==============================] - 17s 2ms/step - loss: 35671.6836 - mae: 145.4903 - val_loss: 34802.6562 - val_mae: 142.9870
Epoch 40/50
7600/7600 [==============================] - 16s 2ms/step - loss: 35763.4688 - mae: 145.8952 - val_loss: 49689.3477 - val_mae: 177.7646
Epoch 41/50
7600/7600 [==============================] - 16s 2ms/step - loss: 35606.8516 - mae: 145.6276 - val_loss: 37798.9648 - val_mae: 148.6849
Epoch 42/50
7600/7600 [==============================] - 17s 2ms/step - loss: 35547.4336 - mae: 145.4882 - val_loss: 34738.0664 - val_mae: 143.3803
Epoch 43/50
7600/7600 [==============================] - 17s 2ms/step - loss: 35491.7305 - mae: 145.3545 - val_loss: 36533.6094 - val_mae: 145.5314
Epoch 44/50
7600/7600 [==============================] - 16s 2ms/step - loss: 35356.2148 - mae: 145.0205 - val_loss: 35865.3477 - val_mae: 147.5363
Epoch 45/50
7600/7600 [==============================] - 16s 2ms/step - loss: 35319.2852 - mae: 145.1377 - val_loss: 34457.2852 - val_mae: 142.5826
Epoch 46/50
7600/7600 [==============================] - 16s 2ms/step - loss: 35463.1875 - mae: 145.1213 - val_loss: 34918.5156 - val_mae: 143.9384
Epoch 47/50
7600/7600 [==============================] - 17s 2ms/step - loss: 35528.5664 - mae: 145.3701 - val_loss: 39726.3633 - val_mae: 152.1803
Epoch 48/50
7600/7600 [==============================] - 16s 2ms/step - loss: 35547.6523 - mae: 145.2996 - val_loss: 34529.2227 - val_mae: 144.2198
Epoch 49/50
7600/7600 [==============================] - 16s 2ms/step - loss: 35514.0664 - mae: 145.2427 - val_loss: 34019.2422 - val_mae: 141.9718
Epoch 50/50
7600/7600 [==============================] - 16s 2ms/step - loss: 35367.0352 - mae: 144.9745 - val_loss: 34098.6094 - val_mae: 141.7782

In [356]:
y_test

6045     1763.8236
78928    2108.1897
14950    1621.0818
53337    1746.9032
93326    1976.2996
           ...
46761    2032.1140
77254    2081.7945
8830     1517.0400
27438    1210.0797
5088     1110.0852
Name: energy, Length: 18999, dtype: float64

In [366]:
y_pred=regressor.predict(X_test)

594/594 [==============================] - 1s 1ms/step

In [367]:
y_pred

array([[1532.3613],
       [1834.1885],
       [1625.7971],
       ...,
       [1412.3043],
       [1366.0632],
       [1169.5065]], dtype=float32)

In [368]:
print(r2_score(y_test,y_pred))

0.7522982566131442

In [325]:
regressor.save('model.h5') #SAVING MODEL

In [137]:
df1

,energy,Month,Year,date,time,Month_1,Month_2,Month_3,Month_4,Month_5,Month_6,Month_7,Month_8,Month_9,Month_10,Month_11,Month_12
0,1259.985563,3,2008,1,0,0,0,1,0,0,0,0,0,0,0,0,0
1,1095.541500,3,2008,1,1,0,0,1,0,0,0,0,0,0,0,0,0
2,1056.247500,3,2008,1,2,0,0,1,0,0,0,0,0,0,0,0,0
3,1034.742000,3,2008,1,3,0,0,1,0,0,0,0,0,0,0,0,0
4,1026.334500,3,2008,1,4,0,0,1,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
94987,2528.446800,12,2018,31,19,0,0,0,0,0,0,0,0,0,0,0,1
94988,2461.883600,12,2018,31,20,0,0,0,0,0,0,0,0,0,0,0,1
94989,2365.994400,12,2018,31,21,0,0,0,0,0,0,0,0,0,0,0,1
94990,2342.942800,12,2018,31,22,0,0,0,0,0,0,0,0,0,0,0,1
94991,2180.217600,12,2018,31,23,0,0,0,0,0,0,0,0,0,0,0,1

In [139]:
df1

,energy,Month,Year,date,time,Month_1,Month_2,Month_3,Month_4,Month_5,Month_6,Month_7,Month_8,Month_9,Month_10,Month_11,Month_12
0,1259.985563,3,0,1,0,0,0,1,0,0,0,0,0,0,0,0,0
1,1095.541500,3,0,1,1,0,0,1,0,0,0,0,0,0,0,0,0
2,1056.247500,3,0,1,2,0,0,1,0,0,0,0,0,0,0,0,0
3,1034.742000,3,0,1,3,0,0,1,0,0,0,0,0,0,0,0,0
4,1026.334500,3,0,1,4,0,0,1,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
94987,2528.446800,12,10,31,19,0,0,0,0,0,0,0,0,0,0,0,1
94988,2461.883600,12,10,31,20,0,0,0,0,0,0,0,0,0,0,0,1
94989,2365.994400,12,10,31,21,0,0,0,0,0,0,0,0,0,0,0,1
94990,2342.942800,12,10,31,22,0,0,0,0,0,0,0,0,0,0,0,1
94991,2180.217600,12,10,31,23,0,0,0,0,0,0,0,0,0,0,0,1